form {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-content: space-around;
    padding: 40px;
    border-radius: 80px;
    background-color: indianred;
    height: 250px;
    margin: 30px 35%
}

form * {
    border-radius: 2px;
    height: 30px;
}

/* #gpt_answer {
    width: 40%;
    background-color: indianred;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50 30%; 
    
} */
button {
    width: 100px;
}
input{
    text-align: center;
}